# --- Python ---
__pycache__/
*.pyc
*.pyo
*.pyd
*.db

# --- Virtual environments ---
venv/
.env

# --- Jupyter ---
.ipynb_checkpoints/
.langgraph_api

# --- OS / Editor Files ---
.DS_Store
.vscode/

# --- Project directories ---
plots/
samples/*.json


